<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94404574753-4oou8gb6ppiqlum4eordntbk7pq8ejli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94404574753-4oou8gb6ppiqlum4eordntbk7pq8ejli</string>
	<key>API_KEY</key>
	<string>AIzaSyAlXgxyrZBXcfeArQZG5oLal848X_eBK-s</string>
	<key>GCM_SENDER_ID</key>
	<string>94404574753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mcq</string>
	<key>PROJECT_ID</key>
	<string>mcq-app-8a733</string>
	<key>STORAGE_BUCKET</key>
	<string>mcq-app-8a733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94404574753:ios:63dc8ccf00e5666cf52d60</string>
</dict>
</plist>